absl-py==0.15.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.12
ansible-base==2.10.8
anyio==3.7.1
AnyQt==0.2.0
apache-libcloud==3.2.0
appdirs==1.4.4
argcomplete==1.8.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astroid==2.15.6
asttokens==2.2.1
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==21.2.0
Automat==20.2.0
autopep8==2.0.2
Babel==2.8.0
backcall==0.2.0
baycomp==1.0.2
bcrypt==3.2.0
beautifulsoup4==4.10.0
behave==1.2.6
beniget==0.4.1
binaryornot==0.4.4
black==23.3.0
bleach==6.0.0
blinker==1.6.2
bottle==0.12.19
Bottleneck==1.3.7
Brlapi==0.8.3
Brotli==1.0.9
CacheControl==0.13.1
cachetools==5.0.0
certifi==2023.5.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.2.0
click==8.1.7
cloud-init==23.2.2
cloudpickle==2.2.1
colorama==0.4.4
comm==0.1.3
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
constantly==15.1.0
cookiecutter==2.2.0
coverage==7.2.7
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.6.7
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
dictdiffer==0.9.0
diff-match-patch==20230430
dill==0.3.4
distlib==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.1
dnspython==2.1.0
docker==5.0.3
docopt==0.6.2
docstring-to-markdown==0.12
docutils==0.17.1
et-xmlfile==1.0.1
exceptiongroup==1.1.2
executing==1.2.0
facebook-sdk==3.1.0
fasteners==0.14.1
fastjsonschema==2.17.1
filelock==3.12.2
flake8==6.0.0
Flask==2.3.3
fonttools==4.29.1
frozenlist==1.3.3
fs==2.4.12
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.5.2
ghp-import==2.1.0
Glances==3.2.4.2
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.1.0
gpg==1.16.0
graphviz==0.14.2
greenlet==1.1.2
griffe==0.31.0
grip==4.6.1
h11==0.14.0
html5lib==1.1
httpcore==0.17.3
httplib2==0.20.2
httpx==0.24.1
hyperlink==21.0.0
idna==3.3
imageio==2.31.1
imagesize==1.3.0
importlib-metadata==6.8.0
incremental==21.3.0
inflection==0.5.1
influxdb==5.3.1
iniconfig==1.1.1
intervaltree==3.1.0
iotop==0.6
ipykernel==6.24.0
ipython==8.14.0
ipython-genutils==0.2.0
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jdcal==1.0
jedi==0.18.2
jeepney==0.7.1
jellyfish==1.0.0
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.1
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
jupyter-events==0.6.3
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
keyring==23.5.0
keyrings.alt==4.2.0
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.9.0
lazy_loader==0.3
llvmlite==0.38.0
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Magnus==1.0.3
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.1.3
matplotlib==3.5.1
matplotlib-inline==0.1.6
mccabe==0.7.0
menulibre==2.2.2
mercurial==6.1.1
mergedeep==1.3.4
mistune==3.0.1
mkdocs==1.4.3
mkdocs-autorefs==0.4.1
mkdocs-material==9.1.18
mkdocs-material-extensions==1.1.1
mkdocstrings==0.22.0
mkdocstrings-python==1.1.2
mockito==1.4.0
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
msgpack==1.0.3
multidict==6.0.4
mutagen==1.45.1
mypy==1.4.1
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nest-asyncio==1.5.6
netaddr==0.8.0
netifaces==0.11.0
networkx==3.1
nose==1.3.7
notebook==6.5.4
notebook_shim==0.2.3
notify2==0.3
ntlm-auth==1.4.0
numba==0.55.1
numexpr==2.8.1
numpy==1.25.1
numpydoc==1.5.0
oauth2client==4.1.3
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
onboard==1.4.1
openai==0.27.8
opencv-contrib-python==4.8.0.74
openpyxl==3.0.9
openTSNE==1.0.0
orange-canvas-core==0.1.31
orange-widget-base==4.21.0
Orange3==3.35.0
Orange3-Associate==1.2.0
Orange3-Educational==0.6.0
Orange3-Prototypes==0.19.0
outcome==1.2.0
overrides==7.3.1
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.0
paramiko==2.9.3
parse==1.19.1
parse-type==0.6.2
parso==0.8.3
path-and-address==2.0.1
pathspec==0.11.1
patsy==0.5.2
pexpect==4.8.0
pibootctl==0.5.2
pickleshare==0.7.5
Pillow==9.0.1
pipreqs==0.4.13
platformdirs==3.8.1
pluggy==1.2.0
ply==3.11
prometheus-client==0.17.0
prompt-toolkit==3.0.39
protobuf==3.12.4
psutil==5.9.0
psycopg2==2.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycodestyle==2.10.0
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pydocstyle==6.3.0
PyDrive==1.3.1
pyflakes==3.0.1
pygame==2.1.2
Pygments==2.15.1
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pykerberos==1.1.14
pylint==2.17.4
pylint-venv==3.0.2
pyls-spyder==0.4.0
pymacaroons==0.13.0
pymdown-extensions==10.0.1
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqtgraph==0.13.3
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
pysmi==0.3.2
pysnmp==4.4.12
PySocks==1.7.1
pystache==0.6.0
pytest==6.2.5
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-json-logger==2.0.7
python-Levenshtein==0.12.2
python-libdiscid==2.0.1
python-louvain==0.16
python-lsp-black==1.3.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.4
python-magic==0.4.24
python-slugify==8.0.1
python-xapp==2.2.1
pythran==0.10.0
pytoolconfig==1.2.5
pytz==2022.1
pyudev==0.22.0
PyWavelets==1.4.1
pywinrm==0.3.0
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
pyyaml_env_tag==0.1
pyzmq==25.1.0
qasync==0.24.0
QDarkStyle==3.1
qstylizer==0.2.2
QtAwesome==1.2.3
qtconsole==5.4.3
QtPy==2.3.1
regex==2023.6.3
reportlab==3.6.8
requests==2.31.0
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
roman==3.3
rope==1.9.0
rsa==4.8
Rtree==1.0.1
scikit-image==0.21.0
scikit-learn==1.1.3
scipy==1.11.1
SCons==4.0.1
scour==0.38.2
seaborn==0.11.2
SecretStorage==3.3.1
selenium==4.10.0
selinux==3.3
Send2Trash==1.8.2
serverfiles==0.3.1
service-identity==18.1.0
setproctitle==1.2.2
simplejson==3.17.6
six==1.16.0
sly==0.5
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sos==4.5.6
soupsieve==2.3.1
Sphinx==4.3.2
sphinxcontrib-tikz==0.4.16
spyder==5.4.3
spyder-kernels==2.4.4
SQLAlchemy==1.4.31
ssh-import-id==5.11
stack-data==0.6.2
sympy==1.9
systemd-python==234
tables==3.7.0
terminado==0.17.1
terminator==2.1.1
text-unidecode==1.3
textdistance==4.5.0
thonny==4.1.3
threadpoolctl==3.1.0
three-merge==0.1.1
tifffile==2023.7.4
tiktoken==0.4.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
trio==0.22.1
trio-websocket==0.10.3
Twisted==22.1.0
typing_extensions==4.7.1
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.8.0
unattended-upgrades==0.1
unicodedata2==14.0.0
uritemplate==3.0.1
urllib3==1.26.5
vboxapi==1.0
virtualenv==20.23.1
wadllib==1.3.6
wajig==4.0.3
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.3.7
whatthepatch==1.0.5
wrapt==1.15.0
wsproto==1.2.0
wurlitzer==3.0.3
xdg==5
xkit==0.0.0
xlrd==1.2.0
XlsxWriter==3.1.2
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.40.1
yarg==0.1.9
yarl==1.9.2
youtube-dl==2021.12.17
zipp==1.0.0
zope.interface==5.4.0
